.appComponent {
    margin: 0;
    padding: 0px;
    height: 100vh;
    color: white;
    background-attachment: fixed;
    background-image: url("https://wallpaperstock.net/whatsapp-background-wallpapers_51439_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    padding: 0.5rem 0.3rem;
    top: 0;
    margin: auto;
    position: fixed;
    scroll-behavior: auto;
    width: 100vw;
    z-index: 1;
    background-color: rgb(28, 103, 84);
    align-items: center;
    gap: 1rem;
}

.avatar {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    background-position: center center;
}

header>h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 8px 1rem;
    border: none;
    border-radius: 1rem;
    width: 70%;
}

button {
    background-color: rgb(28, 103, 84);
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    outline: none;
    transition: all ease-in-out 0.5s;
}

.inputDiv {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0.8rem;
    gap: 10px;
}



.message-section {
    width: 100%;
    background-color: transparent;
    overflow-x: auto;
    padding-top: 5rem;
    position: fixed;
    height: auto;
    right: 0;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    scroll-behavior: smooth;
}


.user-message {

    display: flex;
    right: 0;
    gap: 0.9rem;
    flex-direction: column;
}

.user-message>img {
    border-radius: 50%;
}

p {
    font-size: 0.7rem;
}