<div class="appComponent">
    <header>
        <img class="avatar"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg"
            alt="user avatar">
        <div>
            <h5>Elon Musk</h5>
            <p>{{status}}</p>
        </div>
    </header>
    <section class="message-section">
        <div class="user-message"></div>
    </section>
    <span>
        <div class="inputDiv">
            <input placeholder="send message" type="text" (input)="handleInput($event)"
                (keydown)="enterKeyEvent($event)" />
            <button *ngIf="message !== ''" [disabled]="message === ''" (click)="sendMessage()">Send</button>
        </div>
    </span>
</div>