* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.349);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin: 0;
    color: white;
    max-width: 175px;
    padding: 5px 10px;
    border-radius: 0px 0px 8px 0px;
}