* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    justify-content: end;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    color: black;
    max-width: 175px;
    padding: 6px 10px;
    border-radius: 0px 0px 8px 0px;
}


input:focus {
    border: none;
    outline: none;
}